* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#referee {
    margin: 20px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
}

#score {
    margin-bottom: 10px;
}


button {
    height: 50px;
    width: 70px;
    border: none;
}

main {
    height: 100vh;
    background-color: #eed9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#game-container {
    background-color: #0a1345;
    border: 2px solid #fb2d7d;
    height: 500px;
    width: 500px;
    /*cursor: none; */
    position: relative;
}

#spotlight {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: #fff45eb7;
    border-radius: 100px;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    cursor: none;
    z-index: 1;
    top: 0;
    left: 0;

}

#npc {
    height: 80px;
    width: 80px;
    border-radius:  50px;
    background-color: #0a1345;
    position: absolute;
    left: 0;
    top: 0;
}